/**
 * ----------------------------------------------------------------------------
 * Editor CSS - postList
 * ----------------------------------------------------------------------------
 */

.wp-block-lp-block{
	display: flex;
	align-items: stretch;
	background-color: #ffffff;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}

.wp-block-lp-block .alt-section-image {
	display: flex;
	align-items: center;
}
.wp-block-lp-block .alt-section-image.image-inactive {
	background: #f4f4f4;
	width: 50%;
	border: 1px solid #dddddd;
}
.wp-block-lp-block .alt-section-image.image-active {
	background-size: cover;
	background-position: center;
	max-width: 50%;
}

.wp-block-lp-block .alt-section-image button {
	margin: 0 auto;
}
.wp-block-lp-block .alt-section-image button.image-button {
	line-height: 0;
	padding: 0px;
}
.wp-block-lp-block .alt-section-image button.image-button img {
	opacity: 0;
	margin: 0;
}

.wp-block-lp-block .alt-section-content {
	text-align: center;
	width: 50%;
	align-self: center;
	padding: 36px;
	box-sizing: border-box;
}

.wp-block-lp-block .organic-profile-social .social-link {
	color: rgba(0, 0, 0, 0.24);
	padding: 6px 12px;
	border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.wp-block-lp-block .organic-profile-social .social-link:hover {
	color: rgba(0, 0, 0, 1);
}
.wp-block-lp-block .organic-profile-social .social-link:first-child {
	border: none;
}
